# Python Requirements File
#     Author: Milan Štubljar: milan@stubljar.com
#
#   Refer to: https://docs.python.org/3/installing/index.html
#
# Install by:
#   python3 -m pip install -r requirements.txt
#
# Change log:
#   2023-12-20  v1.00   Initial version

selenium
tqdm
requests
lxml